@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");
@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}
.bg_of_filter {
  box-shadow: 0 10px 20px 0 rgba(70, 163, 88, 0.3);
  background: linear-gradient(137deg, rgba(70, 163, 88, 0.45) 0%, #46a358 100%);
}
.showbg {
  background-color: linear-gradient(
    135deg,
    rgba(245, 245, 245, 0.5) 0%,
    rgba(245, 245, 245, 0.5) 100%
  );
}
.slick-dots li button {
  background-color: #46a358 !important;
  opacity: 30%;
}
.slick-active button {
  background-color: #46a358 !important;
}
.ant-slider-track {
  border: 2px solid #46a358;
}
.ant-slider .ant-slider-hendler::after {
  box-shadow: 0 0 0 2px #46a358;
}
.ant-slider .ant-slider-hendler::after:hover {
  box-shadow: 0 0 0 2px #46a358;
}
.ant-select-selection-item {
  font-size: 15px;
  color: #3d3d3d;
}
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  background-color: #46a358;
  border-color: #46a358;
}
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #46a358;
  border-color: #46a358 !important;
}
.ant-tabs .ant-tabs-ink-bar {
  background: #46a358 !important;
}
.ant-select-selector {
  border-color: #46a358 !important;
}
:where(.css-dev-only-do-not-override-tjsggz).ant-select-outlined:not(
    .ant-select-customize-input
  )
  .ant-select-selector {
  border: none;
  outline: none;
}
.cartHover:hover .cartHoverChild {
  bottom: 8px;
  transition: 0.3s ease-out;
}
.cartHoverChild div:hover {
  color: #46a358;
  transition: 0.3s;
}
.cartHoverChild div:active {
  color: #46a358;
  transform: scale(0.9);
  transition: 0.3s;
}
.sizes:hover {
  border: 1px solid #46a358;
  color: #46a358;
  transition: 0.3s;
}
